.header {
  position: relative;
  padding: 14px 0;
  width: 100%;
  color: var(--color-7);
  background-color: #edebe4;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.black {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
 height: auto;
  background-color: rgba(0, 0, 0, .7);
}

.black_active {
  visibility: visible;
  z-index: 3;
}
.header__logo {
  display: block;
  width: 139px;
  height: 93px;
}

.header__nav {
position: relative;
width: 40%;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav__icon {
  width: 13px;
  height: 13px;
}

.nav__link {
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.nav__link:hover {
  color: var(--color-hover);
}

.nav__link:active {
  color: var(--color-active);
}

